/* MAP STYLE */

.map {
  position: absolute;
  display: block;
  top: 80px;
  bottom: 67px;
  width: 100%;
  border-top: 2px solid #b0691d;
}

body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  bottom: 17px;
  right: 275px;
}

.mapboxgl-ctrl-group {
  height: 30px;
}

.mapboxgl-ctrl-group > button {
  display: inline-block;
}

.mapboxgl-ctrl-group > button + button {
  border-top: 0;
  border-left: 1px solid #ddd;
}

/* HEADER STYLE */

#header {
  position: absolute;
  top: 0;

  bottom: 80px;

  width: 100%;
  background: #f5f6f7 url(body.png);
  min-width: 100px;

  color: #ffffff;
  text-shadow: #717c9b 0px 1px 3px;
  font-size: 1.4em;
}

#link {
  color: #000000c2;
  /* Other colors: #e0e0e0 #e6e6dc */
}

/* HEADER ELEMENTS STYLES */

.header a.encyclopedia,
.header label#about {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
  border: solid black;
  font-weight: bold;
  margin-top: 3px;
  margin: 3px;
  font-family: "Arial";
}

.header i#info {
  display: none;
}
i.fa-info-circle {
  color: #777;
}

.header a:hover,
.header label:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  margin-top: 13px;
  margin-left: 50px;
  margin-right: 9px;
}

.headerText {
  display: inline-block;
  margin-top: 19px;
  text-shadow: #717c9b 0px 1px 3px;
  font-size: 1.7em;
  /*Center*/
  margin-left: 10em;
  margin-left: 10px;
  font-family: "Consolas";
  margin-bottom: 21px;
}

.header a.encyclopedia {
  background-color: #e8e1da;
}

/*Override styling for logo link*/
.header > a:first-child {
  border: none;
  margin: 0;
  padding: 0;
}
.header > a:first-child:hover {
  background-color: inherit;
}

/* EXTERNAL LINK ICON STYLE */

.img2 {
  vertical-align: text-top;
  padding-left: 2px;
}

button.active {
  background-color: steelblue;
  color: white;
}

/* FOOTER ELEMENTS STYLES */

#footer {
  position: absolute;

  bottom: 0px;

  width: 100%;
  /* height: 35px; */
  height: 67px;
  background: #f5f6f7;
  min-width: 100px;

  border-top: 2px solid #b0691d;

  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* BASEMAP MENU STYLE */

#baseMapMenu {
  position: absolute;
  background: #b3b3b3;
  padding: 10px 18px 10px 10px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  bottom: 175px;
  right: 20px;
}

div.layer-list-row {
  width: 100%;
}

div.layer-list-row:hover {
  background-color: #ddd;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  /* display: block; */
  display: none;
  opacity: 0.8;
  background-color: #fff;
  z-index: 1000 !important; /* 99!important; */
  text-align: center;
}

#loading-icon {
  position: relative;
  top: 38%;
  bottom: 62%;
  color: #20b2aa;
}

/* tooltip */
.tooltip {
  position: absolute;
  z-index: 999;
  left: -9999px;
  background-color: #dedede;
  padding: 3px;
  border: 1px solid #fff;
  width: 100px;
  text-align: center;
}
.tooltip p {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #23579b;
  padding: 2px 7px;
}

/* hide current buildings fill layers */
#current_buildings_items,
#current_buildings {
  display: none;
}
label[for="current_buildings_items"],
label[for="current_buildings"] {
  display: none;
}

/* Style for Studio Menu */
/* #demoLayerInfo */

#rightInfoBar {
  position: absolute;
  display: block;
  /* top: 80px; */
  top: 82px;
  right: 0;

  /* Standard */
  max-height: calc(100% - 230px);
  /* Opera */
  max-height: -o-calc(100% - 230px);
  /* Firefox */
  max-height: -moz-calc(100% - 230px);
  /* WebKit */
  max-height: -webkit-calc(100% - 230px);
  overflow: auto;
  /* background-color: transparent !important; */
  background-color: #fff !important;
  z-index: 100;
}

.rightInfoBarBorder {
  border: solid #ffffff 3px;
}

#studioMenu {
  position: absolute;
  display: block;
  /* top: 80px; */
  top: 82px;
  /* Standard */
  height: calc(100% - 171px);
  /* Opera */
  height: -o-calc(100% - 171px);
  /* Firefox */
  height: -moz-calc(100% - 171px);
  /* WebKit */
  height: -webkit-calc(100% - 171px);
  /* Standard */
  max-height: calc(100% - 171px);
  /* Opera */
  max-height: -o-calc(100% - 171px);
  /* Firefox */
  max-height: -moz-calc(100% - 171px);
  /* WebKit */
  max-height: -webkit-calc(100% - 171px);
  overflow: auto;
  box-shadow: 0 0 10px 2px rgba(31, 51, 73, 0.1) !important;
  background-color: #fff !important;
  padding: 10px 2px 10px 10px;
  /* border-top: 2px solid #b0691d; */
  z-index: 100;
}

/* width */
#studioMenu::-webkit-scrollbar,
#rightInfoBar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
#studioMenu::-webkit-scrollbar-track,
#rightInfoBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#studioMenu::-webkit-scrollbar-thumb,
#rightInfoBar::-webkit-scrollbar-thumb {
  background: steelblue; /* #888; */
}

/* Handle on hover */
#studioMenu::-webkit-scrollbar-thumb:hover,
#rightInfoBar::-webkit-scrollbar-thumb:hover {
  background: blue; /* #555; */
}

#studioMenu .title {
  color: #23374d;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 8px;
  text-align: center;
  /* #*A border-bottom: 1px solid #c6d2e1; */
  border-bottom: 1px solid #ce5c00;
  margin-bottom: 8px;
}

#studioMenu {
  width: 325px;
} /* 300px */
#demoLayerInfo,
#infoLayerCastello,
#infoLayerGrantLots,
#infoLayerDutchGrants,
#infoLayerGravesend,
#infoLayerNativeGroups,
#infoLayerKarl,
#infoLayerFarms,
#infoLayerCurrLots,
#infoLayerSettlements,
#infoLayerInfoPoint {
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 270px; /* left: 258px; width: 300px; */
  /* dont break out a link */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /* word-break: break-all; */
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

button#zoom-world,
button.zoom-labels {
  padding: 5px 0 5px 0;
  cursor: pointer;
}
button#zoom-world > i,
button.zoom-labels > i {
  color: #555;
}
button#hide-zoom-label {
  display: none;
}

#demoLayerInfo,
.demoLayerInfoPopUp {
  background-color: rgb(50, 205, 50, 0.3); /* #32CD32 LimeGreen */
  border: solid #32cd32 2px;
}
#infoLayerCastello,
.infoLayerCastelloPopUp {
  background-color: rgb(255, 192, 203, 0.3); /* #FFC0CB Pink */
  border: solid pink 2px;
}
#infoLayerSettlements,
.infoLayerSettlementsPopUp {
  background-color: rgb(11, 14, 229, 0.2); /* #0b0ee5 */
  border: solid #0b0ee5 2px;
}
#infoLayerGrantLots,
.infoLayerGrantLotsPopUp {
  background-color: rgb(102, 205, 170, 0.3); /* #66CDAA MediumAquamarine */
  border: solid #66cdaa 2px;
}
#infoLayerDutchGrants,
.infoLayerDutchGrantsPopUp {
  background-color: rgb(255, 255, 0, 0.5); /* #FFFF00 Yellow */
  border: solid #ffff00 2px;
}

#infoLayerInfoPoint,
.infoLayerInfoPointPopUp {
  background-color: rgb(102, 205, 170, 0.3); /* #66CDAA MediumAquamarine */
  border: solid #66cdaa 2px;
}

/* REPLACE THIS */
#infoLayerGravesend,
.infoLayerGravesendPopUp {
  background-color: rgb(255, 255, 0, 0.5); /* #FFFF00 Yellow */
  border: solid #ffff00 2px;
}
/* REPLACE THIS */

#infoLayerNativeGroups,
.infoLayerNativeGroupsPopUp {
  background-color: rgb(255, 192, 203, 0.3); /* #FFC0CB Pink */
  border: solid pink 2px;
}

#infoLayerKarl,
.infoLayerKarlPopUp {
  background-color: rgb(255, 255, 0, 0.5); /* #FFFF00 Yellow */
  border: solid #ffff00 2px;
}

#infoLayerFarms,
.infoLayerFarmsPopUp {
  background-color: rgb(255, 255, 0, 0.5); /* #FFFF00 Yellow */
  border: solid #ffff00 2px;
}
#infoLayerCurrLots,
.infoLayerCurrLotsPopUp {
  background-color: rgb(123, 104, 238, 0.3); /* #7B68EE MediumSlateBlue */
  border: solid #7b68ee 2px;
}

i.compress-expand-icon {
  cursor: pointer;
  color: #555;
}
i.zoom-to-layer {
  color: #1d43de;
}
i.layer-info,
i.zoom-to-layer {
  cursor: pointer;
}
i.layer-info:hover,
i.zoom-to-layer:hover,
i.compress-expand-icon:hover {
  opacity: 0.7;
}

div.dummy-label-layer-space {
  width: 37px;
  display: inline-block;
}
div.layer-buttons-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.layer-buttons-block {
  width: 38px;
  right: 3px;
  margin-right: 3px;
  position: absolute;
  display: inline-block;
}

.demoLayerInfoPopUp,
.infoLayerCastelloPopUp,
.infoLayerGrantLotsPopUp,
.infoLayerDutchGrantsPopUp,
.infoLayerDutchGrantsPopUp,
.infoLayerFarmsPopUp,
.infoLayerCurrLotsPopUp,
.infoLayerSettlementsPopUp,
.infoLayerInfoPointPopUp {
  padding-left: 5px;
  padding-right: 5px;
}

#view-hide-layer-panel {
  position: absolute;
  top: 88px;
  left: 337px; /* 300 <-> 312px | 325 <-> 312 + 25 */
  z-index: 500;
  cursor: pointer;
  border: solid sliver;
}

i#mobi-hide-sidebar {
  color: blue;
  position: absolute;
  margin-top: -11px;
}

i#mobi-hide-sidebar:hover {
  color: darkblue;
}

div#mobi-view-sidebar {
  color: #000;
  position: absolute;
  float: right;
  bottom: 128px;
  right: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
}

div#mobi-view-sidebar:hover {
  background-color: #ccc;
}

div#mobi-view-sidebar > i {
  margin-top: 9px;
}

/* adaptive | responsive  design */
div#mobi-year {
  display: none;
  width: 100%;
  text-align: center;
}

img#logo-img-wide {
  padding: 6px 0px 0px 21px;
  float: left;
  height: 70px;
}

img#logo-img {
  padding: 5px 0px 0px 8px;
  float: left;
  display: none;
}

@media (max-width: 1000px) {
  span#ruler-date1,
  span#ruler-date2,
  span#ruler-date3,
  span#ruler-date4,
  span#ruler-date5 {
    display: none;
  }

  div#mobi-year {
    margin-top: 5px;
    margin-bottom: -5px;
    display: block;
  }
}

@media (max-width: 930px) {
  .mapboxgl-ctrl-bottom-right {
    bottom: 7px;
    right: 170px;
  }
}

/*438*/
@media (max-width: 503px) {
  .header a.encyclopedia,
  .header label#about {
    display: none;
  }
  .header i#info {
    display: inline-block;
  }
}

/*555*/
@media (max-width: 657px) {
  #studioMenu {
    width: 100%;
  }
  #view-hide-layer-panel {
    display: none;
  }
  #rightInfoBar {
    display: none;
  }
  div.layer-buttons-block {
    width: 111px;
  }
  div.dummy-label-layer-space {
    width: 100px;
  }
  div.layer-buttons-list {
    justify-content: space-around;
  }

  #headerTextSuffix,
  .headerText {
    display: none;
  }
}

/*555*/
@media (min-width: 657px) {
  #mobi-hide-sidebar,
  #mobi-view-sidebar {
    display: none;
  }
}

/*930*/
@media (max-width: 1025px) {
  .map {
    top: 43px;
  }

  #rightInfoBar {
    top: 45px;
  }

  #studioMenu {
    top: 45px;
    /* Standard */
    height: calc(100% - 134px);
    /* Opera */
    height: -o-calc(100% - 134px);
    /* Firefox */
    height: -moz-calc(100% - 134px);
    /* WebKit */
    height: -webkit-calc(100% - 134px);
    /* Standard */
    max-height: calc(100% - 134px);
    /* Opera */
    max-height: -o-calc(100% - 134px);
    /* Firefox */
    max-height: -moz-calc(100% - 134px);
    /* WebKit */
    max-height: -webkit-calc(100% - 134px);
  }

  .headerText {
    margin-top: 11px;
    font-size: 13pt;
    margin-left: 10px;
  }

  .header-right {
    margin-left: 5px;
    margin-right: 5px;
  }

  .header a.encyclopedia,
  .header label#about {
    color: black;
    text-align: center;
    padding: 3px;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    border-radius: 3px;
    border: solid black;
    font-weight: bold;
    margin-top: 3px;
    margin: 3px;
  }

  img#logo-img-wide {
    height: 39px;
    padding: 2px 0px 0px 3px;
  }

  .header-right {
    margin-top: 5px;
  }
}

i.slash-icon {
  font-size: 11px;
}



/* Master CSS file */

html {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

a {
  font-weight: 700;
  color: #ce5c00;
}

hr {
  background-color: #ce5c00;
  border: none;
  height: 1px;
  margin-top: 20px;
}

.line {
  margin: 10px;
  text-align: center;
  color: #ce5c00;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
}

.logo {
  text-align: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#sidepanel {
  border: solid 2px #ce5c00;
  border-radius: 9px;
  display: block;
  position: absolute;
  float: right;
  width: 260px;
  top: 100px;
  right: 20px;
  background: #2e3436;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 15px;
  color: #eeeeec;
  z-index: 10000;
  word-spacing: 1px;
}

#datepanel {
  position: absolute;
  float: right;
  bottom: 80px;
  right: 20px;
  border: solid 4px #000000;
  border-radius: 8px;
  background: #3989c1;
  padding: 5px 20px 5px 0px;
  color: #ffffff;
  z-index: 500;
  word-spacing: 5px;
  min-width: 210px;
  text-align: right;
}

div#navpanel {
  color: #3989c1;
  position: absolute;
  float: right;
  bottom: 80px;
  right: 300px;
  height: 135px;
  width: 160px;
  text-align: center;
  background-color: #fff;
  border-radius: 7px;
  border: 2px solid #000;
}

.compass-ring {
  fill: #3989c1;
}
.north-arr {
  fill: blue;
}
.south-arr {
  fill: red;
}

.nav-btn {
  color: #5f9ea0;
  cursor: pointer;
}
.nav-init {
  color: #5f9ea0;
  cursor: pointer;
}
.nav-btn:hover,
.nav-init:hover {
  opacity: 0.7;
}
.nav-btn:active,
.nav-init:active {
  color: #ffd700;
}

#slider,
#slider2 {
  /* Standard */
  width: calc(100% - 30px);
  /* Opera */
  width: -o-calc(100% - 30px);
  /* Firefox */
  width: -moz-calc(100% - 30px);
  /* WebKit */
  width: -webkit-calc(100% - 30px);
  margin-top: 10px;
}

#date {
  font-size: 34px;
  width: 150px;
  background: none;
  border: 0;
  text-align: center;
}

.y1600 {
  color: #888a85;
}

.y1700 {
  color: #5c3566;
}

.y1800 {
  color: #75507b;
}

.y1850 {
  color: #a40000;
}

.y1900 {
  color: #cc0000;
}

.y1950 {
  color: #f57900;
}

.y2000 {
  color: #edd400;
}

.k1600 {
  background: #888a85;
}

.k1700 {
  background: #5c3566;
}

.k1800 {
  background: #75507b;
}

.k1850 {
  background: #a40000;
}

.k1900 {
  background: #cc0000;
}

.k1950 {
  background: #f57900;
}

.k2000 {
  background: #edd400;
}

.kleur {
  border: solid 1px black;
  display: inline-block;
  width: 20px;
  height: 13px;

  margin-top: 3px;
  margin-left: 10px;
  margin-right: 3px;
}

td {
  line-height: 14px;
}

h1 {
  font-size: 20px;
}

.leaflet-container {
  background: #eeeeec !important;
}

.info {
  margin-top: 15px;
  /*font-size: 14px;*/
  font-size: 16px;
  line-height: 170%;
}

#content {
  padding: 10px;
}

/* Styles for legend.layer-list */

#legend {
  background: #2e3436;
  position: relative;
  z-index: 1;
  top: 5px;
  right: 5px;
  border-radius: 3px;
  width: 250px;
  font-size: 12px;
}

#styleSwitcher {
  left: 50px;
  /*ADDING TOP*/
  top: 90px;
  position: absolute;
  background: #fff;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

/* Timeline Ruler */
.timeline {
  display: flex;
  position: relative;
  border-bottom: 2px darkorange solid;
  padding: 10px 0;
  width: 100%;
  bottom: 5px;
}
.year {
  width: 20%;
  text-align: center;
  position: relative;
}

.year:before {
  content: "";
  display: block;
  width: 50%;
  position: absolute;
  height: 5px;
  bottom: -10px;
  left: 0px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 90%,
    darkorange 95%,
    rgba(0, 0, 0, 0) 100%
  );
  /* Standard */
  background-size: calc(100% / 5) calc(100% / 5);
  /* Opera */
  background-size: -o-calc(100%/5) -o-calc(100%/5);
  /* Firefox */
  background-size: -moz-calc(100%/5) -moz-calc(100%/5);
  /* WebKit */
  background-size: -webkit-calc(100%/5) -webkit-calc(100%/5);
}
.year:after {
  content: "";
  display: block;
  width: 50%;
  position: absolute;
  height: 5px;
  bottom: -10px;
  right: 0px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 90%,
    darkorange 95%,
    rgba(0, 0, 0, 0) 100%
  );
  /* Standard */
  background-size: calc(100% / 5) calc(100% / 5);
  /* Opera */
  background-size: -o-calc(100%/5) -o-calc(100%/5);
  /* Firefox */
  background-size: -moz-calc(100%/5) -moz-calc(100%/5);
  /* WebKit */
  background-size: -webkit-calc(100%/5) -webkit-calc(100%/5);
}
.year > span.timeline-ruler:before {
  content: "";
  display: block;
  width: 50%;
  position: absolute;
  height: 10px;
  bottom: -10px;
  left: 0px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 95%,
    darkorange 100%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 100% 100%;
}

label#about,
label#close {
  cursor: pointer;
}
label#close {
  font-size: 21px;
  border-radius: 4px;
  border: solid black;
  font-weight: bold;
  padding: 3px 11px 3px 11px;
  float: right;
}
label#close:hover {
  background-color: #eee;
  border: solid silver;
  color: silver;
}
label#close:active {
  background-color: #ccc;
}
.checker:checked + .modal {
  display: flex;
}
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.modal-body {
  max-width: 700px;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  opacity: 0.9;
}
.modal-content {
  margin-top: 5px;
  padding: 15px;
  overflow-y: auto;
  /* Standard */
  max-height: calc(100vh - 123px);
  /* Opera */
  max-height: -o-calc(100vh - 123px);
  /* Firefox */
  max-height: -moz-calc(100vh - 123px);
  /* WebKit */
  max-height: -webkit-calc(100vh - 123px);
}
.modal-footer,
.modal-header {
  overflow: hidden;
  text-align: left;
}
.modal-header > h1 {
  display: inline;
}
/* Modal PopUp */

/* Mapbox PopUp content */
.mapboxgl-popup-content {
  padding: 0;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #f15b28;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #f15b28;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #f15b28;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #f15b28;
}

@media (max-width: 930px) {
  #date {
    font-size: 21px;
    width: 111px;
  }

  #datepanel {
    border: solid 2px #000000;
    padding: 3px 15px 3px 0px;
    min-width: 134px;
  }

  div#navpanel {
    bottom: 138px;
    right: 15px;
  }
}

@media (max-width: 555px) {
  div#navpanel {
    left: 15px;
    bottom: 77px;
  }
}

.field__label{
  font-weight: bold;
}

#infoLayerNativeGroups .node__title{
  font-size: 1em;
}